.pokemon-button {
    background-color: rgb(60, 60, 60);
    color: white;
    border-radius: 6px;
    border-color: black;
    padding: 5px;
    margin: 1px;
    min-width: 100px;
}

.pokemon-list {
    list-style: none;
    padding: 0;
}